{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
  body {
    background-color: #5eb6f9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  .reset-box {
    background-color: white;
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
    width: 400px;
    border: 3px solid black;
  }

  .key-icon {
    background-color: #3b4cc0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .key-icon i {
    font-size: 30px;
    color: white;
  }

  .form-control {
    margin-top: 15px;
  }

  .btn-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }

  .reset-title {
    margin-top: 50px;
    font-weight: bold;
    color: #3b4cc0;
  }

  .error-msg {
    color: red;
    font-size: 14px;
    margin-top: 4px;
  }
  @media(max-width: 375px){
    .reset-box{
      width: 103%;
    }
  }
</style>

<div class="reset-box">
  <div class="key-icon">
    <i class="bi bi-key-fill"></i>
  </div>
  <h3 class="reset-title">Reset Password</h3>

  <form method="POST" enctype="multipart/form-data" action="{% url 'reset_password' user.id %}">
    {% csrf_token %}

    <div class="form-group">
      {{ form.old_password }}
      {{ form.old_password.errors }}
    </div>

    <div class="form-group">
      {{ form.new_password }}
      {{ form.new_password.errors }}
    </div>

    <div class="form-group">
      {{ form.confirm_password }}
      {{ form.confirm_password.errors }}
    </div>

    <div class="btn-group">
      <button type="submit" class="btn btn-primary">Reset</button>
      <a href="{% url 'product_details' %}" class="btn btn-outline-secondary">Cancel</a>
    </div>
  </form>
</div>


{% endblock %}
